<div class="dashboard">
  <div class="card" style="background-color: green;">
    <div class="card-header">
      <h3>Total Candidates</h3>
    </div>
    <div class="card-body">
      <p class="card-value">{{candidate}}</p>
    </div>
  </div>

  <div class="card"  style="background-color: crimson;">
    <div class="card-header">
      <h3>Total Employees</h3>
    </div>
    <div class="card-body">
      <p class="card-value">{{employeer}}</p>
    </div>
  </div>

  <div class="card"  style="background-color: rgb(213, 193, 9);">
    <div class="card-header">
      <h3>Total Departments</h3>
    </div>
    <div class="card-body">
      <p class="card-value">{{dept}}</p>
    </div>
  </div>

  <div class="card"  style="background-color: rgb(41, 71, 172);">
    <div class="card-header">
      <h3>Total Companies</h3>
    </div>
    <div class="card-body">
      <p class="card-value">{{company}}</p>
    </div>
  </div>
</div>
