<mat-toolbar color="secondary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>XOKA~HR Soln</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened hasBackdrop="false" style="width: 250px;">
    <mat-toolbar style="background-color: transparent;" class="tool">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="User Photo" class="user-photo">
      <div class="user-info">
        <p class="user-name">John Doe</p>
        <p class="user-email">john.doe@example.com</p>
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list >
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span mat-line>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/candidates" routerLinkActive="active-link">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>Candidates</span>
      </a>
      <a mat-list-item routerLink="/employeers" routerLinkActive="active-link">
        <mat-icon mat-list-icon>people</mat-icon>
        <span mat-line>Employeers</span>
      </a>
      <a mat-list-item routerLink="/dept" routerLinkActive="active-link">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span mat-line>Department</span>
      </a>
      <a mat-list-item routerLink="/salary" routerLinkActive="active-link">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <span mat-line>Salary</span>
      </a>
      <a mat-list-item routerLink="/company" routerLinkActive="active-link">
        <mat-icon mat-list-icon>business</mat-icon>
        <span mat-line>Company</span>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list style="bottom: 0;">
      <a mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>
        <span mat-line>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content-area">   
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
