.user-photo {
    border-radius: 50%;
    width: 84px;
    height: 84px;
    margin-right: 16px;
    padding: 10px 0px;
  }
  .tool{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-image: url(https://plus.unsplash.com/premium_photo-1667926862014-78090af0330c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
  }
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .user-name {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  .user-email {
    margin: 0;
    font-size: 14px;
  }
  
  .mat-icon {
    font-size: 18px;
  }
  mat-icon {
    vertical-align: middle;
  }
  